In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import plotly.express as px
import plotly.graph_objects as go
import yfinance as yf

import warnings
warnings.filterwarnings('ignore')

In [2]:
today = datetime.today().strftime("%Y-%m-%d")
inicio= "2017-01-01"
ticker="GOOG"
df = yf.download(ticker, start=inicio, end=today)

[*********************100%***********************]  1 of 1 completed

In [3]:
y=df["Close"].resample("M").mean()

In [4]:
y

Date
2017-01-31     40.395238
2017-02-28     40.845829
2017-03-31     41.705565
2017-04-30     42.202843
2017-05-31     46.964205
                 ...
2023-03-31     98.558696
2023-04-30    106.348422
2023-05-31    116.745682
2023-06-30    123.228096
2023-07-31    121.482142
Freq: M, Name: Close, Length: 79, dtype: float64

In [5]:
df=pd.DataFrame({"Fecha":y.index,"y":y})

In [6]:
df

                Fecha           y
Date
2017-01-31 2017-01-31   40.395238
2017-02-28 2017-02-28   40.845829
2017-03-31 2017-03-31   41.705565
2017-04-30 2017-04-30   42.202843
2017-05-31 2017-05-31   46.964205
...               ...         ...
2023-03-31 2023-03-31   98.558696
2023-04-30 2023-04-30  106.348422
2023-05-31 2023-05-31  116.745682
2023-06-30 2023-06-30  123.228096
2023-07-31 2023-07-31  121.482142

[79 rows x 2 columns]

In [7]:
#df["Fecha"]=df.index

In [8]:
df1=df[["Fecha","y"]]

In [9]:
df1

                Fecha           y
Date
2017-01-31 2017-01-31   40.395238
2017-02-28 2017-02-28   40.845829
2017-03-31 2017-03-31   41.705565
2017-04-30 2017-04-30   42.202843
2017-05-31 2017-05-31   46.964205
...               ...         ...
2023-03-31 2023-03-31   98.558696
2023-04-30 2023-04-30  106.348422
2023-05-31 2023-05-31  116.745682
2023-06-30 2023-06-30  123.228096
2023-07-31 2023-07-31  121.482142

[79 rows x 2 columns]

In [10]:
#df1['Series'] = np.arange(1,len(df1)+1)
#df1['Month'] = [i.month for i in df1['Fecha']]
#df1['Year'] = [i.year for i in df1['Fecha']]
#df1.drop(columns=["Fecha"],inplace=True)

In [11]:
df1

                Fecha           y
Date
2017-01-31 2017-01-31   40.395238
2017-02-28 2017-02-28   40.845829
2017-03-31 2017-03-31   41.705565
2017-04-30 2017-04-30   42.202843
2017-05-31 2017-05-31   46.964205
...               ...         ...
2023-03-31 2023-03-31   98.558696
2023-04-30 2023-04-30  106.348422
2023-05-31 2023-05-31  116.745682
2023-06-30 2023-06-30  123.228096
2023-07-31 2023-07-31  121.482142

[79 rows x 2 columns]

In [12]:
steps=5
datos_train=df1[:-steps]
datos_test=df1[-steps:]

In [13]:
datos_train.shape

(74, 2)

In [14]:
datos_test.shape

(5, 2)

**Configuración Pycaret**

In [15]:
from pycaret.regression import *

In [16]:
s = setup(data = datos_train, test_data = datos_test, target = 'y',fold_strategy = 'timeseries', fold = 3, transform_target = True, session_id = 123)

In [17]:
best = compare_models(sort = 'MAE')

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

In [18]:
best

[]